body{
    background-color: #262020;
    margin:auto;
    font-family: "Orbitron";
    text-shadow: 0 2px 5px #a83232;
}

img{
    width: 100%;
    box-shadow: 0 2px 5px #a83232;
}

.subtitles{
    color: #f54242;
    text-align: center;
    font-size: 40px;
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Banner/header */
.header{
    color: #f54242;
    font-size: 65px;
    text-align: center;
}


/* Main Events */
.main-events-img {
    display: grid;
    grid-template-rows: auto auto;
    width: 75%;
    margin: auto;
}


/*Rate Ups*/
.awakened-container h1, .new-employee-header h1{
    color: #f54242;
    text-align: center;
}

.awakened-container{
    width: 25%;
    margin: auto;
}

.amy-img{
    outline: 2px solid #8b0000;
    display: block;
    margin: auto;
}

.new-employee-container {
    /*Maybe add margin between Awakened container and New Employee container*/
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
}

.new-employee-img img{
    outline: 2px solid blue;
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: auto;
}


/*Danger Close*/
.danger-close-container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/*Misc Events*/
.monday-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    width: 75%;
    margin: auto;
}

.monday-container img{
    height: 100%;
}

.misc-img-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    width: 75%;
    margin: auto;
}

.misc-img-container img{
    height: 75%;
    width: 100%;
}


/*Countdown Font and Atuff*/
.countdown{
    color: #f54242;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
