body{
    background-color: #262020;
    margin:auto;
    font-family: "Orbitron";
    text-shadow: 0 3px 5px #a83232;
}

img{
    width: 100%;
    box-shadow: 0 2px 5px #a83232;
}

p{
    color: #f54242;
}

.subtitles{
    color: #f54242;
    text-align: center;
    font-size: 40px;
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Banner/header */
.header{
    color: #f54242;
    font-size: 65px;
    text-align: center;
}


/* Main Events */
.main-events-img {
    display: grid;
    grid-template-rows: auto auto;
    width: 75%;
    margin: auto;
}

.main-events-img img:hover{
    opacity: 0.70;
}


/*Awakened*/
.new-awakened-container h1, .new-employee-header h1{
    color: #f54242;
    text-align: center;
}

.new-awakened-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    width: 75%;
    margin: auto;
    grid-gap: 50px;
}

.new-awakened-container img{
    outline: 2px solid #8b0000;
    height: 50%;
    width: 100%;
    object-fit: contain;
}

.amy-img img:hover, .shin-jia-img img:hover{
    opacity: 0.70;
}


/*New Employees*/
.new-employee-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 65%;
    grid-gap: 50px;
}

.new-employee-container img{
    outline: 2px solid blue;
    height: 75%;
    object-fit: contain;
}

.new-employee-img img:hover{
    opacity: 0.70;
}


/*Danger Close*/
.danger-close-container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/*Misc Events*/
.monday-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    width: 75%;
    margin: auto;
    margin-bottom: 75px;
}

.monday-container img{
    height: 80%;
    width: 100%;
}

.misc-img-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    width: 75%;
    margin: auto;
}

.misc-img-container img{
    height: 75%;
    width: 100%;
}


/*Countdown Font and Stuff*/
.countdown{
    color: #f54242;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
